
*,*::after,*::before{
    box-sizing: border-box;
}
:root {
    --bg-body: #f8f6f1;
    --bg-color:#751c3c;
    --bg-banner: 117, 28, 60;
    --main-color: #c19555;
    --secondary-color: #a7a98a ;
    --rgb-secondary: 	167, 169, 138;
    --btn-color: #c19555;
}

@font-face{
    font-family: 'Outfit';
    src: url(/assets/fonts/Outfit/Outfit-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Outfit-Mac';
    src: url(/assets/fonts/mac/Outfit/._Outfit-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Outfit-Regular';
    src: url(/assets/fonts/Outfit/static/Outfit-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: var(--bg-body);
}
h1, h2, h3, h4, h5 {
    font-family: Outfit, Outfit-Mac;
}
p {
    text-align: justify;
    font-family: Outfit-Regular;
}

.d-flex {
    display: flex;
}
.content-xy-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width: 520px) {

    .d-none-mob {
        display: none;
    }
    p, .p {
        font-size: 0.9em;
    }
    
    .content-space-aroud {
        display: grid;
        grid-template-columns: repeat(2, 1fr) ;
        margin-top: 50px;
        margin-bottom: 50px;
        gap: 30px;
    }
    .card-services {
        margin-bottom: 25px;
        padding: 20px;
    }
    .t-center-mob {
        text-align: center;
    }
    .t-center-mob-heart {
        display: flex;
        justify-content: center;
    }
}
@media(min-width: 520px) {
    .d-flex-desk{ 
        display: flex;
    }
    .h-100 {
        height: 100%;
    }
    .col-4 {
        width: 40%;
    }
    .col-2 {
        width: 20%;
    }
    .content-space-between {
        display: flex;
        justify-content: space-between;
    }
    .content-space-aroud {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .content-grid-three {
        display: grid;
        grid-template-columns: repeat(3, 1fr) ;
        gap: 20px;
    }
    .t-center-mob-heart {
        display: flex;
    }
    .card-services {
        padding: 50px;
    }
    .content-grid-two {
        display: grid;
        grid-template-columns: repeat(2, 1fr) ;
        gap: 20px;
    }
}
.gap-10{
    gap: 10px;
}
.col-5 {
    width: 50%;
}
.t-center {
    text-align: center;
}
.tc-white{
    color: white;
}
.tc-secondary {
    color: var(--secondary-color);
}
.tc-main-color{
    color: var(--main-color);
}
.tc-dark-color {
    color: var(--bg-color);
}
.tc-main-btn {
    color: var(--btn-color);
}
.tf-bold-600 {
    font-weight: 600;
}
.tf-bold{
    font-weight: bold;
}
.fs-11 {
    font-size: 1.1em;
}
.fs-12 {
    font-size: 1.2em;
}
.wd-90{
    width: 90%;
}

@media(max-width: 520px) {
    .mt-5-mob {
        margin-top: 50px;
    }
    .mb-5-mob {
        margin-bottom: 50px;
    }
    .wd-60, .wd-80 {
        width: 90%;
    }
    .mt-40-mob {
        margin-top: 40px;
    }
}
@media(min-width: 520px) {
    .mb-5-desk {
        margin-bottom: 50px;
    }
    .wd-45{
        width: 45%;
    }
    .wd-60 {
        width: 60%;
    }
    .wd-80 {
        width: 80%;
    }
    .my-50 {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
@media(min-width: 1400px) {
    .mt-xl-5 {
        margin-top: 50px;
    }
}
.mt-40 {
    margin-top: 40px;
}
.my-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mt-4 {
    margin-top: 40px;
}
.mb-1 {
    margin-bottom: 10px;
}
.mb-2 {
    margin-bottom: 20px;
}
.mb-4 {
    margin-bottom: 40px;
}
.mb-5 {
    margin-bottom: 50px;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.my-2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.psr-2{
    z-index: 2;
    position: relative;
}
.space-100{
    width: 100%;
    height: 100px;
}
@media(max-width: 520px) {
    .title-banner {
        font-size: 1.8em;
        line-height: 1.2em;
    }
    .subtitle-banner {
        font-size: 1em;
        /* line-height: 1.2em; */
    }
    .subtitle, .subtitle-services, .title-card {
        font-size: 1.4em;
        line-height: 1.2em;
    }
    .content-btn-contanct-center {
        margin-top: 20px;
        margin-bottom: 50px;
    }
    .title-banner-section {
        font-size: 1.8em;
    }
}
@media(min-width: 520px) {
    .title-banner {
        font-size: 3em;
    }
    .subtitle-banner {
        font-size: 1.1em;
        line-height: 1.2em;
    }
    .subtitle {
        font-size: 2.5em;
        line-height: 1.2em;
    }
    .content-btn-contanct-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .title-banner-section {
        font-size: 2.5em;
    }
    .subtitle-services{
        font-size: 2em;
    }
    .title-card{
        font-size: 1.7em;
    }
}
.title-banner {
    color:white;
    font-weight: bold;
    margin-bottom: 10px;
}
.title-banner-section {
    color:white;    
    font-weight: bold;
    margin-bottom: 10px;
}
.subtitle-banner {
    color:var(--secondary-color);
}
.subtitle{    
    font-weight: 600;
    margin-bottom: 20px;
}
.subtitle-h3 {
    font-size: 1.4em;
    font-weight: 600;
    line-height: 1.2em;
}
.subtitle-services{
    font-weight: 600;
    text-align: center;
}
@media(max-width: 520px) {
    .menu-mobile {
        display: flex;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        padding: 8px 15px;
        z-index: 1000;
        background-color: rgba(var(--bg-banner), 0.8);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
    .menu{
        display: none;
    }
}
@media(min-width: 520px) {
    .menu-mobile{
        display: none;
    }
    .menu{
        display: flex;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        padding: 30px 50px;
    }
}
.menu-fixed {
  background-color: rgba(var(--bg-banner), 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1000;
}
.content-menu-items{
    display: flex;
    align-items: center;
    gap: 40px
}
.img-logo-menu{
    width: 130px;
}
.item-menu{
    font-weight: 500;
    font-size: 1.1em;   
    color: white;
}
.item-menu:hover{
    color: var(--main-color);
    cursor: pointer;
}
.item-menu-mob{
    font-size: 1.1em;   
    color: var(--main-color);
    margin-bottom: 20px;
    font-weight: 600;
}
.submenu {
    display: none;
}
.services-submenu{
    position: relative;
}
.services-submenu:hover > .submenu{
    width: 300px;
    display: block;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 2000;
}
@media(min-width: 520px) {
    .services-submenu:hover > .submenu{
        position:absolute;
    }
}
.submenu-item {
    color: black;
    margin-bottom: 20px;
}
.submenu-item-mob {
    color: var(--main-color);
    margin-bottom: 20px;
}
.submenu-item:hover {
    color: var(--main-color);
}
.main-color{
    color: var(--main-color);
}
.btn-contact{
    background-color: var(--btn-color);
    color: white;
    border: none;
    padding: 10px 30px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 8px;
}
.btn-contact-lg{
    background-color: var(--btn-color);
    color: white;
    border: none;
    padding: 20px 35px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 8px;
}
.btn-icon {
    background-color: var(--btn-color);
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.3s ease;
}
.icon { 
    font-size: 1.2em;
}
.icon-rrss {
    width: 25px;
    height: 25px;
    filter: brightness(9);
    transition: filter 0.3s ease;
}
.icon-menu-mns{
    width: 50px;
    height: 50px;
}
.icon-phone{
    width: 30px;
    height: 30px;
}
.btn-icon:hover{
    transform: scale(1.2);
}
.ho-white:hover{
    background-color: white;
    color: var(--btn-color);
}
.ho-white:hover > .icon-rrss{
    filter: none;
}
.ho-dark:hover{
    background-color: var(--bg-color);
    color: white;
}
.circle-blob {
    position: absolute;
    padding: 40px 65px 40px 65px;
    height: 120px;
    width: 100px;
    background-color: transparent;
    background-image: linear-gradient(130deg, var(--main-color) 0%, #21212100 74%);
    border-radius: 50% 50% 50% 50%;
    z-index: -1;
}
.circle-blob-banner {
    top: -10px;
    left: 15px;
}
.circle-blob-content {
    top: -25px;
    left: -45px;
}
.circle-blob-service{
    top: -40px;
    left: 25px;
}
.main-banner{
    background-color: var(--bg-color);
}
@media(max-width: 520px) {
    .main-banner{
        padding: 75px 0;
    }
    .banner-content{
        border-top: 1px solid rgba(var(--rgb-secondary), 0.6);
    }
    .img-main-banner{
        border-radius: 20px;
        width: 90%;
        margin: 60px auto 0;
    }
    .circle-blob{
        display: none !important;
    }
    .content-text-banner{
        width: 90%;
        margin: 35px auto 0;
    }
    .content-body{
        padding: 60px 0;
        width: 90%;
        margin: 0 auto;
    }
    .footer {
        padding: 20px;
    }
    .footer-content > div {
        margin-bottom: 30px;
    }
    .content-next-body {
        padding: 0 20px;
    }
}
@media(min-width: 520px) {
    .main-banner{
        padding: 100px 0;
    }
    .banner-content{
        display: flex;
        justify-content: space-between;
        gap: 50px;
    }
    .col-banner{
        max-width: 50%;
    }
    .img-main-banner{
        border-radius: 0 20px 20px 0;
        width: 100%;
    }
    .content-text-banner{
        padding: 20px 50px;
        position: relative;
        z-index: 2;
    }
    .content-body {
        padding: 200px 100px;
    }
    .footer {
        padding: 100px 100px 20px;
    }
    .footer-content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 50px;
    }
    .content-next-body {
        padding: 0 100px;
    }   
}

.content-relative{
    position: relative;
    z-index: 2;
}
.img-one-column{
    border-radius: 20px;
}
.block-contact{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: white;
    border-radius: 5px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-phone{
    background-color: var(--btn-color);
    border-radius: 5px;
    padding: 10px;
}
.footer{
    background-color: var(--bg-color);
}

.divisor-footer {
    background-color: rgba(var(--rgb-secondary), 0.4);
    width: 100%;
    height: 1px;
    margin: 40px 0 20px;
}
.divisor-subtitle-footer {
    background-color: var(--btn-color);
    width: 60%;
    height: 2px;
    margin: 20px 0;
}
.icon-footer{
    width: 250px;
}
.icons-ss-footer{
    display: flex;
    margin-top: 40px;
    gap: 10px;
}
.heart{
    color: red;
}
.subtitle-footer{
    color: white;
    font-size: 1.2em;
    font-weight: 600;
}
.link-footer{
    color: white;
}
.link-footer:hover {
    color: var(--btn-color);
}
.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-body-dark{
    background-color: var(--bg-color);
    
    position: relative;
    justify-content: center;
    align-items: center;
}
.content-dark {
    background-color: var(--bg-color);
    
    margin-top: 100px;
    margin-bottom: 100px;
    position: relative;
    justify-content: center;
    align-items: center;
}

@media(max-width: 520px) {
    .content-dark {
        padding: 50px 20px;
    }
    .content-body-dark{ 
        margin-top: 50px;
        padding: 10px 0;
    }
    .content-cards {
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .card-white, .card-yellow, .card-dark{
        width: 90%;
        margin: 0 auto 20px;
    }
    .content-card-absolute {
        margin-top: -80px;
    }
    .card-dark-big {
        margin-bottom: 20px;
    }
}
@media(min-width: 520px) {
    .content-dark {
        padding: 150px 50px;
    }
    .content-body-dark{ 
        height: 500px;
        padding: 10px 50px;
    }
    .content-cards {
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    .card-white, .card-yellow, .card-dark{
        width: 320px;
    }
    .content-card-absolute {
        position: absolute;
        top: -80px;
        left: 0;
        right: 0;
    }
    .card-dark-big {
        margin: 0 auto;
        width: 320px;
    }
}
.card-white, .card-yellow, .card-dark{
    border-radius: 10px;
    padding: 20px;    
    width: 320px;
    display: flex;
}
.card-white{
    background-color: white;
    box-shadow: 0 0 6px -3px rgba(0, 0, 0, 0.3);
}
.card-yellow{
    background-color: var(--main-color);
}
.card-dark{
    background-color: var(--bg-color);
}
.card-dark-big {
    background-color: var(--bg-color);
    border-radius: 10px;
    padding: 25px;    
    display: flex;
}
.card-title{
    font-size: 1.3em;
}
.card-badge-yellow {
    background-color: var(--main-color);
}
.card-badge-white {
    background-color: white;
}
.card-badge-yellow, .card-badge-white{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border-radius: 5px;
}
.card-icon-white {
    font-size: 2.2em !important;
    color: white;
}
.card-icon-yellow {
    font-size: 2.2em !important;
    color: var(--main-color);
}
.icon-yellow {
    width: 100px;
    height: 100px;
}
.banner-about{
    background-image: url(/assets/about-banner.jpg);
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.shadow-content-banner{
    width: 100%;
    height: 500px;
    padding-top: 120px;
    background-color: rgba(var(--bg-banner), 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-services{
  background-color: #ffffff; /* Color de fondo inicial */  
  border-radius: 10px;
  overflow: hidden; /* Opcional: asegura que los bordes redondeados corten bien el fondo */
  cursor: pointer;
  transition: color 0.3s ease; /* Transición opcional para el texto */

  background-image: linear-gradient(to top, var(--bg-color) 100%, transparent 0%);
  background-repeat: no-repeat;
  background-size: 100% 0%; /* Inicia con una altura de 0% (abajo) */
  background-position: bottom; /* Se ancla en la parte inferior */
  
  transition: background-size 0.4s ease-in-out, color 0.4s ease-in-out;
}
.card-services:hover {
  background-size: 100% 100%; /* El fondo crece hasta cubrir toda la altura (100%) */
  color: #ffffff; /* Opcional: cambia el color del texto para que contraste */
}
.card-services:hover > .icon-card {
    filter: brightness(0) invert(1); /* Cambia el color del icono a blanco */
}
.card-services-borde {
    box-shadow: 0 0 6px -3px rgba(0, 0, 0, 0.6);
}
.icon-card{
    width: 120px;
    margin-bottom: 20px;
    transition:  filter 0.4s ease-in-out;
}
.icon-card-small {
    width: 60px;
    margin-bottom: 20px;
}
.title-card{    
    margin-bottom: 20px;
}
.link-card {
    color: var(--main-color);
    font-weight: 600;
}
.icon-count{
    color: var(--main-color);
    width: 80px;
    height: 80px;
}
.icon-heart {
    width: 30px;
    height: 20px;
    margin-top: 0;
}
.number-count{
    color: white;
    font-weight: bold;
    font-size: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.symbol-count{
    color: var(--main-color);
    font-size: 0.6em;
    font-weight: bold;
    margin-left: 10px;
}
@media(max-width: 520px) {
    .background-about {
        background-image: url(/assets/about.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        left: 0;
        width: 100%;
        height: 400px;
        z-index: 2;
    }
    .col-dark {
        width: 100%;
        padding: 50px 20px;
    }
}
@media(min-width: 520px) {
    .background-about {
        background-image: url(/assets/about.jpg);
        position: relative;
        top: -50px;
        left: 0;
        width: 50%;
        /* TODO: PARA LAP ESTA BIEN, PERO PARA PANTALLAS MAS GRANDES DEBE SER MENOR */
        height: 800px;
        z-index: 2;
        border-radius: 0 10px 10px 0;
    }
    .col-dark {
        width: 60%;
        /* TODO: Para vista de lap esta bien, pero para pantallas grandes debe ser mas */
        padding: 100px 100px 100px 250px;
        position: absolute;
        right: 0;
        z-index: 1;
    }
}
.col-dark{
    background-color: var(--bg-color);
    
}
/* Círculo de progreso */
.circular-progress {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 20px;
  
  /* Gradiente cónico: Creamos una ilusión de borde usando un círculo interno enmascarado */
  background: conic-gradient(
    var(--main-color) calc(var(--percentage) * 1% - 8%), /* Rango principal amarillo */
    var(--main-color) calc(var(--percentage) * 1% - 8%), calc(var(--percentage) * 1%), /* Pequeño segmento blanco */
    white calc(var(--percentage) * 1%) /* Fondo restante del círculo */
  );
  
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 2s ease-in-out;
}

/* El "hueco" del centro para transformar el círculo relleno en un anillo */
.circular-progress::before {
  content: "";
  position: absolute;
  width: 96px; /* Ajusta este valor para cambiar el grosor del borde */
  height: 96px;
  background-color: var(--bg-color); /* Debe ser del mismo color que el fondo de la card */
  border-radius: 50%;
}

/* Estilo del texto del porcentaje */
.progress-value {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}
.back-banner-img-services{
    background-image: url(/assets/services.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@media(max-width: 520px) {
    .back-banner-shadow-services {
        padding: 50px 0;
    }
    .accordion-item {
        margin-bottom: 10px;
    }
}
@media(min-width: 520px) {
    .back-banner-shadow-services {
        padding: 100px;
    }
    .accordion {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 100px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}
.back-banner-shadow-services {
    width: 100%;
    height: 100%;
    background-color: rgba(var(--bg-banner), 0.8);
}


.accordion-item {
    height: 70px;
    background-color: white;
    color: var(--bg-color);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    border: 1px solid white;
}

.accordion-header {
  width: 100%;
  background-color: white;
  border: none;
  padding: 20px;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.arrow {
  font-size: 12px;
  transition: transform 0.3s ease;
}

.accordion-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  padding: 0 20px;
  color: #555555;
  font-size: 14px;
  line-height: 1.5;
}

.accordion-item.active {
    height: auto !important;
}
.accordion-item.active .accordion-header {
  background-color: var(--btn-color); 
  color: #ffffff;
  
}

.accordion-item.active .arrow {
  transform: rotate(180deg); 
}

.accordion-item.active .accordion-body {
  max-height: 200px; 
  padding: 20px; 
}

/* Estilos para cada elemento de la lista */
.con-check {
  position: relative;
  padding-left: 20px; /* Espacio para el check */
  margin-bottom: 15px; /* Espacio entre elementos */
  /* font-size: 18px; */
  /* color: rgb(var(--main-color); Color del texto, ajusta según tu imagen */
}
.con-check::before {
  content: '\2714'; /* Código Unicode para el check (✔) */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px; /* Tamaño del carácter */
  
  /* Aplicamos el degradado de color */
  background: linear-gradient(135deg, var(--main-color) 0%, #dbd1b9 100%);
  -webkit-background-clip: text; /* Recortamos el fondo al texto */
  background-clip: text;
  color: transparent;
  font-weight: bold; 
  line-height: 1;
}

.menu-btn {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;  /* Ancho del icono */
  height: 22px; /* Alto del icono */
  cursor: pointer;
}

/* Las tres barritas */
.menu-btn span {
  display: block;
  height: 3px;         /* Grosor de las líneas */
  width: 100%;
  background-color:var(--main-color);
  border-radius: 3px;  /* Bordes ligeramente redondeados */
  transition: all 0.3s ease; /* Transición suave por si quieres animarlo */
}
.menu-btn.active span:nth-child(1) {
  transform: translateY(9.5px) rotate(45deg);
}

.menu-btn.active span:nth-child(2) {
  opacity: 0;
}

.menu-btn.active span:nth-child(3) {
  transform: translateY(-9.5px) rotate(-45deg);
}

.menu-mobile-items{
    position: fixed;
  top: 0;
  left: -100%; /* Oculto completamente fuera de la pantalla a la izquierda */
  width: 85%;  /* O puedes poner 100% si quieres que cubra toda la pantalla */
  max-width: 400px; /* Ancho máximo para que no se deforme en tablets */
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  background-color: #ffffff;
  z-index: 9999;
  box-shadow: 4px 0px 15px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease-in-out; /* Animación suave al abrir/cerrar */
  display: flex;
  flex-direction: column;
  padding: 25px;
  box-sizing: border-box;
}
.menu-mobile-items.active {
    left: 0;
}